body {
     background: radial-gradient(#FDB750,#FD7F20) 
}
html {
    min-width: 100vh;
  padding: 1rem;
}
h1 {
  text-align: center;
  color: cornflowerblue;
}
img {
  width: 27%;
  margin: auto;
}
.row img {
    width: 50%;
}
.placesbtn {
    display: flex;
    text-align: center;
}

