body {
  background: radial-gradient(#fdb750, #fd7f20);
  text-align: center;
}
main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: aliceblue;
}
html {
  min-width: 100vh;
  padding: 1rem;
}
h1 {
  text-align: center;
  color: cornflowerblue;
}
img {
  width: 27%;
  margin: auto;
}
.row img {
  width: 50%;
}
.placesbtn {
  display: flex;
  text-align: center;
}
nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}
nav li {
  display: inline;
  margin-right: 25px;
}
nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}
